body {
    background-color: #FCFBF6;
    margin: 0%;
}

div#mainhead {
    background-image: url("https://chloetoey.neocities.org/ideal-weekend-in-bangkok.jpeg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 500px;

    display: flex;
    justify-content: center;
    align-items:center;
    align-items: center;

    padding-top: 80px;
    padding-bottom: 10px;
}

h2 {
    text-align: left;
    color: white;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    width: 100%;
    padding-left: 10%;
    font-family: 'Arsenal';
    font-weight: bold;
}

.image-list-small {
    font-family: 'Arsenal', sans-serif;
    margin: auto;
    text-align: left;
    max-width: 80%;
    padding-top: 7%;
  }
  
  .image-list-small li {
    display: inline-block;
    width: 30%;
    margin: 0 12px 30px;
  }
  
  
  /* Photo */
  
  .image-list-small li > a {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    margin: 0;
    padding: 0;

  }
  
  .image-list-small .details {
    margin-top: 13px;
  }
  
  
  /* Title */
  
  .image-list-small .details h3 {
    display: block;
    font-family: 'Arsenal', sans-serif;
    font-size: 16px;
    margin: 0 0 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .image-list-small .details h3 a {
    color: #303030;
    text-decoration: none;
  }
  
  .image-list-small .details .image-author {
    display: block;
    color: #717171;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
  }